@import "src/app/common-css/common-ui-styles";

@mixin profile-about-bg-style($padding) {
    background-color: $theme-color-gray;
    padding: $padding;
    border-radius: 10px;
}

.profile-about-card {
    @include profile-about-bg-style(5px);
    margin-bottom: 15px;
}

.profile-about-content {
    h2, h4 {
        margin: 0;
        padding: 0;
    }
    h2 { @include helvetica-style; }
    h4 { @include helvetica-thin-style; }

    .content {
        margin-top: 10px;
        @include profile-about-bg-style(20px);

    }
}
