<div class="profile-tab-left-section">
    <div class="profile-about-card">
        <div *ngIf="userDetails">
            <div class="ppl-img-text-pair" *ngFor="let link of userDetails.links">
                <img src="../../../../assets/images/navbar/news-center.png">
                <a target="_blank" href="{{link.detail}}">{{link.description}}</a>
            </div>
            <div class="ppl-img-text-pair" *ngFor="let phone of userDetails.phoneNumbers">
                <img src="../../../../assets/images/common/phone.svg">
                <h4>{{phone.description}}:<br>{{phone.detail}}</h4>
            </div>
            <div class="ppl-img-text-pair" *ngFor="let extra of userDetails.additionalInfo">
                <img src="../../../../assets/images/common/info-key.svg">
                <h4>{{extra.description}}:<br>{{extra.detail}}</h4>
            </div>
        </div>
        <div class="ppl-img-text-pair">
            <img src="../../../../assets/images/common/mail.svg">
            <h4>{{userInfo.email}}</h4>
        </div>
        <div class="ppl-img-text-pair">
            <img src="../../../../assets/images/common/info-key.svg">
            <h4>Industry:&nbsp;{{userInfo.industry}}</h4>
        </div>
    </div>
    <div
        *ngIf="!userDetails"
        class="ppl-button-green-with-image"
        (click)="completeProfile()"
    >
        <img src="../../../../assets/images/common/plus.svg">
        <h4>Complete Profile</h4>
    </div>
</div>

<div class="profile-tab-right-section" *ngIf="userDetails">
    <div class="profile-about-content">
        <h2>Bio</h2>
        <div class="content">
            <h4>{{userDetails.biography}}</h4>
        </div>
    </div>

</div>

<div class="profile-tab-right-section" *ngIf="!userDetails">
    <div class="profile-about-content">
        <div class="content">
            <h4>You haven't completed your profile yet. Complete it today!</h4>
        </div>
    </div>

</div>
