<div class="add-post-container">

    <h2 style="text-align: center" class="helvetica clear-text-paddings">Write a Post</h2><br><br>
    <img class="add-post-close-btn" src="assets/images/x-button.png" (click)="close()">

    <div #midSection class="add-post-mid">
        <input [(ngModel)]="title" class="underlined-input helvetica-normal" style="margin-bottom: 8px" placeholder="Add a Title">
        <label>
            <textarea class="helvetica-normal" [(ngModel)]="body" placeholder="Write your post"></textarea>
        </label>

        <app-text-pair-editor
            *ngIf="addingLinks"
            [dataSource]="links"
            [description]="'Add any links you want to share'"
            [leftInputPlaceholder]="'description'"
            [rightFieldPlaceholder]="'link'"
            (numberOfRowsChanged)="scrollToBottom()"
        ></app-text-pair-editor>

    </div>

    <div class="add-post-bottom-section">
        <div class="flex">
            <img
                (click)="toggleAddingLinks()"
                class="zoom-hover-fx"
                [ngClass]="{'btn-selected': addingLinks, 'btn-unselected': !addingLinks}"
                src="assets/images/news-center/link-colored.png">
        </div>
        <button (click)="closeWithResult()" class="ppl-button-green" style="width: 640px">Post</button>
    </div>
</div>

