<mat-toolbar color="primary" class='toolbar'>

    <div class="navbar-button-pair flex">
        <a [ngClass]="{'highlighted': highlightProfile}" [routerLink]="['/profile']" class="navbar-button">
            <img src="assets/images/navbar/profile.png">
            <p class="helvetica-normal clear-text-paddings">Profile</p>
        </a>

        <a [ngClass]="{'highlighted': highlightCentralHub}" [routerLink]="['/central-hub']" class="navbar-button">
            <img src="assets/images/navbar/central-hub.png">
            <p class="helvetica-normal clear-text-paddings">Central Hub</p>
        </a>

        <a [ngClass]="{'highlighted': highlightNewsCenter}" [routerLink]="['/news-center']" class="navbar-button">
            <img src="assets/images/navbar/news-center.png">
            <p class="helvetica-normal clear-text-paddings">News Center</p>
        </a>

        <a [ngClass]="{'highlighted': highlightOpportunities}" [routerLink]="['/opportunities']" class="navbar-button">
            <img src="assets/images/navbar/opportunities.png">
            <p class="helvetica-normal clear-text-paddings">Opportunities</p>
        </a>
    </div>
</mat-toolbar>
