.central-hub-container {
    width: 100%;
    .navigator {
        width: 200px;
        margin-right: 30px;
        background-color: rgb(244, 244, 244);
        .navigator-cell {
            img {
                margin: 10px 10px 0 10px;
                width: 30px;
                height: 30px;
            }
            cursor: pointer;
            margin-bottom: 5px;
            &:hover{
               p {
                   font-weight: bold;
               }
            }
        }
        a {
            &:visited, &:link {
                color: black;
            }
            margin-top: 13px;
        }
    }
    .details {
        flex-grow: 1;
    }
}

.highlighted {
    background-color: gainsboro;
    border-radius: 10px;
}

.navigator-inner {
    padding: 10px;
}
a {
    text-decoration: none;
}
span{
    margin-top: auto;
    margin-bottom: auto;
}

.icon-bar {
    padding: 2.5px;
}
