<div class="width-container central-hub-container flex" [ngStyle]="{'height': viewportHeightString}">
    <div class="navigator">
        <div class="navigator-inner">

            <div class="navigator-cell"
               (click)="highlightTabAt('notifications')"
            >
                <div [ngClass]="{'highlighted': highlights['notifications']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/Bell.png">
                    <a  [routerLink]="'notifications'"
                        [routerLinkActive]="'active'"
                        class="helvetica-normal"
                    >
                        Notification
                    </a>
                </div>
            </div>
            <div class="navigator-cell"
                 (click)="highlightTabAt('messaging')"
            >
                <div [ngClass]="{'highlighted': highlights['messaging']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/messaging-icon.png">
                    <a  [routerLink]="'messaging'"
                        [routerLinkActive]="'active'"
                        class="helvetica-normal"
                    >
                        Messages
                    </a>
                </div>
            </div>
            <div class="navigator-cell"
                 (click)="highlightTabAt('resumebuilder')"
            >
                <div [ngClass]="{'highlighted': highlights['resumebuilder']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/Resume_builder.png">
                    <a  [routerLink]="'resumebuilder'"
                        [routerLinkActive]="'active'"
                        class="helvetica-normal"
                    >
                        Resume Builder
                    </a>
                </div>
            </div>
            <div class="navigator-cell"
                 (click)="highlightTabAt('applications')"
            >
                <div [ngClass]="{'highlighted': highlights['applications']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/Applacation.png">
                    <a  [routerLink]="'applications'"
                        [routerLinkActive]="'active'"
                        class="helvetica-normal"
                    >
                        Application
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <router-outlet> </router-outlet>
    </div>
</div>
