<div class="width-container central-hub-container flex" [ngStyle]="{'height': viewportHeightString}">
    <div class="navigator">
        <div class="navigator-inner">

            <a class="navigator-cell"
               [routerLink]="'notifications'"
               [routerLinkActive]="'active'"
               (click)="highlightTabAt('notifications')"
            >
                <div [ngClass]="{'highlighted': highlights['notifications']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/bell.svg">
                    <p class="helvetica-normal">Notifications</p>
                </div>
            </a>

            <a class="navigator-cell"
                [routerLink]="'messaging'"
                [routerLinkActive]="'active'"
                (click)="highlightTabAt('messaging')"
            >
                <div [ngClass]="{'highlighted': highlights['messaging']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/messaging-icon.png">
                    <p class="helvetica-normal">Messages</p>
                </div>
            </a>

            <a class="navigator-cell"
               [routerLink]="'resumebuilder'"
               [routerLinkActive]="'active'"
               (click)="highlightTabAt('resumebuilder')"
            >
                <div [ngClass]="{'highlighted': highlights['resumebuilder']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/resumeBuilder.svg">
                    <p class="helvetica-normal">Resume Builder</p>
                </div>
            </a>

            <a class="navigator-cell"
                [routerLink]="'applications'"
                [routerLinkActive]="'active'"
                (click)="highlightTabAt('applications')"
            >
                <div [ngClass]="{'highlighted': highlights['applications']}" class="icon-bar flex">
                    <img src="assets/images/central-hub/application.svg">
                    <p class="helvetica-normal">Application</p>
                </div>
            </a>
        </div>
    </div>
    <div class="details">
        <router-outlet> </router-outlet>
    </div>
</div>
