<div id="bg">
    <div class="width-container flex">
        <img src="{{userInfo.picture}}">
        <div class="profile-details">
            <h2 class="helvetica clear-text-paddings">{{userInfo.givenName}}&nbsp;{{userInfo.familyName}}</h2>
            <h4 class="helvetica-normal clear-text-paddings">&nbsp;{{userInfo.entityBelongedTo}}</h4>
        </div>
        <div class="ml-auto mt-auto flex">
            <button>Follow</button>
            <button>Message</button>
            <button>Settings</button>
        </div>
    </div>
</div>


