<div class="width-container" style="padding: 20px">
    <div *ngIf="userDetails != null">
        <h3 class="helvetica">Cards</h3>
        <div class="horizontal-scroll-outer">
            <div class="horizontal-scroll-inner">
                <div class="profile-card">
                    <h3 class="helvetica clear-text-paddings">About Me</h3>
                    <h5 class="helvetica-normal clear-text-paddings">{{userDetails.biography}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="flex" style="width: 100%">
        <h3 class="helvetica">Recent Posts</h3>
        <button class="ml-auto ppl-button-green" (click)="addPost()">Add A Post</button>
    </div>

    <div class="horizontal-scroll-outer">
        <div class="horizontal-scroll-inner" *ngIf="posts.length === 0">
            <div class="post-card-no-post">
                <div class="no-post">
                    <h5 class="helvetica-normal clear-text-paddings">You don't have posts yet. Add a post!</h5>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-inner post-card"
             *ngFor="let post of posts;
             let i = index"
             [attr.data-index]="i"
        >
            <h3 class="helvetica clear-text-paddings" style="width: 220px">{{post.title}}</h3>
            <h5 class="helvetica-normal clear-text-paddings">{{post.body}}</h5>
            <div *ngIf="post.links.length !== 0" class="flex" style="margin-top: 8px">
                <img width="15" height="15" src="assets/images/news-center/link.png">
                <h5 class="helvetica-normal clear-text-paddings" style="margin: 0 0 0 10px">{{post.links.length}} links</h5>
            </div>
            <button class="ppl-button-green">View More</button>
        </div>
    </div>
</div>
