@import "src/app/common-css/common-ui-styles";
@import "src/app/common-css/profile-page-styles";

.right-section {
    margin-left: 220px;
}
.left-section {
    width: $profile-left-btn-width;
    margin-right: 20px;
    float: left;

}
