<app-navbar></app-navbar>

<div class="login-profile ml-auto mr-auto" *ngIf="pageReady">
    <div>
        <div class="profile-border">
            <img width="250px" height="250px" src="{{picture}}"/>
        </div>

        <div style="margin-top: 15px">
            <button class="pipeline-button" style="width: 250px">Change Profile Picture</button>
        </div>
    </div>
    <div id="right-pane">
        <h1 class="mohave clear-text-paddings">WELCOME, {{given_name | uppercase}}!</h1>
        <h2 class="theme-grey helvetica-normal">We need more information from you:</h2>

        <hr>

        <span class="flex">
            <p class="helvetica-normal theme-grey">Are you a &nbsp;&nbsp;&nbsp;</p>
            <select [(ngModel)]="selectedBusiness" name="cars" id="cars" class="top-margin">
                  <option *ngFor="let type of businessTypes" value="{{type}}">{{type}}</option>
            </select>
        </span>

        <div class="flex">
            <p class="helvetica-normal theme-grey">What's the name of your {{selectedBusiness}}? &nbsp;&nbsp;&nbsp;</p>
            <input class="underline">
        </div>

        <div class="flex">
            <p class="helvetica-normal theme-grey">Is your industry &nbsp;&nbsp;&nbsp;</p>
            <input type="checkbox" class="top-margin-checkbox">
            <p class="helvetica-normal theme-grey">&nbsp; for Profit &nbsp;&nbsp;&nbsp;</p>
            <input type="checkbox" class="top-margin-checkbox">
            <p class="helvetica-normal theme-grey">&nbsp; non-profit &nbsp;&nbsp;&nbsp;</p>
        </div>


        <span class="flex">
            <p class="helvetica-normal theme-grey">What's your industry? &nbsp;&nbsp;&nbsp;</p>
            <select [(ngModel)]="selectedIndustry" (ngModelChange)="checkIndustryNotSelected()" class="top-margin">
                <option *ngFor="let industry of industries" value="{{industry}}">{{industry}}</option>
            </select>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <input class="underline" placeholder="my industry" [hidden]="!showExtraIndustry">
        </span>

        <hr>
        <button class="pipeline-button" style="width: 250px; margin-top: 15px">Continue</button>
    </div>
</div>
