<div class="width-container">

    <div class="ml-auto mr-auto news-center-posts-container">
        <!--    Category pills-->
        <div class="flex news-center-category horizontal-scroll-outer">
            <div
                class="ppl-button-outline news-center-category-pill news-center-write-a-post horizontal-scroll-inner"
                (click)="writePost()"
            >
                <img src="assets/images/writing-icon.png">
                <h4 class="helvetica-normal clear-text-paddings">Write a Post</h4>
            </div>

            <div class="ppl-button-outline news-center-category-pill horizontal-scroll-inner"
                 *ngFor="let category of categories; let i = index"
                 [attr.data-index]="i"
                 [ngClass]="{'news-center-category-pill-selected': categoryFilters[i]}"
                 (click)="selectCategoryFilterAt(i)"
            >
                <h4 class="clear-text-paddings helvetica-normal">{{category.name}}</h4>
            </div>
        </div>

        <!--    Posts-->
        <div class="news-center-posts">
            <div *ngFor="let post of posts; let i = index"
                 [attr.data-index]="i"
            >
                <app-post-details
                    [post]="post"
                    [user]="postsUsers[i]"
                ></app-post-details>
            </div>
        </div>

        <app-paginator
            #paginator
            style="margin-top: 15px"
            [page]="page"
            [per]="per"
            [total]="total"
            (pageChanged)="pagesChanged($event)"
        ></app-paginator>
    </div>
<!--    types: https://labs.danielcardoso.net/load-awesome/animations.html-->
    <ngx-spinner [type]="'ball-spin-fade'"></ngx-spinner>


    <div style="height: 30px"></div>

</div>
