<div class="width-container">

    <div class="ml-auto mr-auto news-center-posts-container">
        <!--    Category pills-->
        <div class="flex news-center-category">
            <div class="ppl-button-outline news-center-category-pill"
                 *ngFor="let category of categories; let i = index"
                 [attr.data-index]="i"
                 [ngClass]="{'news-center-category-pill-selected': categoryFilters[i]}"
                 (click)="selectCategoryFilterAt(i)"
            >{{category.name}}</div>

        </div>

        <!--    Posts-->
        <div class="news-center-posts">
            <div *ngFor="let post of posts let i = index"
                 [attr.data-index]="i">
                <app-post-details
                    [post]="post"
                    [user]="postsUsers[i]"
                ></app-post-details>
            </div>
        </div>
    </div>

    <div style="height: 30px"></div>

</div>
