$theme-color: #79FEB3;
$theme-color-dark: #1B5E20;
$theme-color-gray: rgb(244, 244, 244);
$theme-color-lighter: #dbffde;

// font etc
@mixin helvetica-style {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
}

@mixin helvetica-thin-style {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 300;
}

@mixin ppl-button-outline {
    padding: 8px 16px;
    border-radius: 10px;
}

@mixin clear-spacing {
    padding: 0;
    margin: 0;
}

.helvetica {
    @include helvetica-style;
}

.helvetica-normal {
    @include helvetica-thin-style;
}

// UIs

.ppl-input-style {
    @include helvetica-thin-style;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
}

.ppl-button-green {
    @include ppl-button-outline;
    background-color: $theme-color;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    height: 31px;
    cursor: pointer;
    margin-top: 8px;
    &:focus {
        outline: none;
    }
}

.ppl-button-outline {
    @include ppl-button-outline;
}

// Dropdown

/* The dropdown container */
.dropdown {
    position: relative;
    /* Show the dropdown menu on hover */
    &:hover .dropdown-content {
        display: block;
    }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    margin-top: 7%;
    float: none;
}

.dropdown-no-hover {
    position: absolute;
    width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    margin-top: 7%;
}

.underlined-input {
    font-size: 17px;
    padding: 10px 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

.zoom-hover-fx {
    &:hover {
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }
}

.header-img-3-line-txt {
    display: flex;
    img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin-right: 10px;
    }
    h4 {
        @include helvetica-style();
        @include clear-spacing;
    }
    p {
        @include helvetica-thin-style();
        @include clear-spacing;
        font-size: 12px;
        margin-top: 4px;
    }
}

