$theme-color: #79FEB3;
$theme-color-dark: #1B5E20;
$theme-color-gray: rgb(244, 244, 244);
$theme-color-lighter: #dbffde;

// font etc
@mixin helvetica-style {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
}

@mixin helvetica-thin-style {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 300;
}

@mixin helvetica-medium {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 500;
}

@mixin ppl-button-outline {
    padding: 8px 16px;
    border-radius: 10px;
}

@mixin clear-spacing {
    padding: 0;
    margin: 0;
}

@mixin ppl-animation-transition {
    transition: all .2s ease-in-out;
}

@mixin ppl-button($bgColor, $textColor) {
    @include ppl-button-outline;
    @include ppl-animation-transition;
    background-color: $bgColor;
    color: $textColor;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    height: 31px;
    cursor: pointer;
    margin-top: 8px;
    border: 1px solid $bgColor;
    &:focus {
        outline: none;
    }
    &:hover {
        border-color: black;
    }
}

.helvetica {
    @include helvetica-style;
}

.helvetica-normal {
    @include helvetica-thin-style;
}

.helvetica-medium {
    @include helvetica-medium;
}

// UIs

.ppl-input-style {
    @include helvetica-thin-style;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
}

.ppl-button-green {
    @include ppl-button($theme-color, black)
}

.ppl-button-red {
    @include ppl-button(red, white)
}

.ppl-button-green-with-image {
    background-color: $theme-color;
    border: 1px solid $theme-color;
    cursor: pointer;
    display: flex;
    @include ppl-animation-transition;
    @include ppl-button-outline;
    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    &:hover {
        border-color: black;
    }
    h4 {
        @include helvetica-thin-style;
        margin: 0;
        padding: 0;
    }
}

.ppl-button-outline {
    @include ppl-button-outline;
}

.ppl-img-text-pair {
    display: flex;
    @include ppl-button-outline;
    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    h4 {
        @include helvetica-thin-style;
        margin: 2px 0 0 0;
        padding: 0;
        word-break: break-all;
    }
    a {
        @include helvetica-thin-style;
        margin: 2px 0 0 0;
        padding: 0;
        word-break: break-all;
        &:link, &:visited {
            text-decoration: none;
            color: $theme-color-dark;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

// Dropdown

/* The dropdown container */
.dropdown {
    position: relative;
    /* Show the dropdown menu on hover */
    &:hover .dropdown-content {
        display: block;
    }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    margin-top: 7%;
    float: none;
}

.dropdown-no-hover {
    position: absolute;
    width: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    margin-top: 7%;
}

.underlined-input {
    font-size: 17px;
    padding: 10px 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid gainsboro;
    width: 100%;
}

.zoom-hover-fx {
    &:hover {
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }
}

.header-img-3-line-txt {
    display: flex;
    img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin-right: 10px;
    }
    h4 {
        @include helvetica-style();
        @include clear-spacing;
    }
    p {
        @include helvetica-thin-style();
        @include clear-spacing;
        font-size: 12px;
        margin-top: 4px;
    }
}

.header-img-2-line-txt {
    display: flex;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    h4 {
        @include helvetica-style();
        @include clear-spacing;
    }
    p {
        @include helvetica-thin-style();
        @include clear-spacing;
        font-size: 12px;
        margin-top: 4px;
    }
}


.triple-column {
    display: flex;
    width: 100%;

    .first {
        width: 31%;
        margin-right: 3.5%;
    }

    .second {
        width: 31%;
        margin-right: 3.5%;
    }

    .third {
        width: 31%;
    }
}

.header-text-img {
    display: flex;
    margin-top: 14px;
    img {
        margin-left: auto;
        width: 20px;
        height: 20px;
        cursor: pointer;
        @include ppl-animation-transition;
        &:hover {
            transform: scale(1.2);
        }
    }
    h4 {
        @include helvetica-style;
        @include clear-spacing;
    }
}

