@mixin card-common {
    background-color: rgb(244, 244, 244);
    height: 160px;
    padding: 20px;
}

.profile-card {
    @include card-common;
    h5 {
        margin-top: 8px;
    }
    h3 {
        font-size: 17px;
    }
    position: relative;
    button {
        position: absolute;
        bottom: 20px;
    }
    .profile-card-content {
        height: 120px;
        overflow: hidden;
    }
}

.post-card {
    @include card-common;
    h5 {
        margin-top: 8px;
    }
    margin-right: 20px;
    position: relative;
    button {
        position: absolute;
        bottom: 20px;
    }
}

.post-card-no-post {
    @include card-common;
    h5 {
        text-align: center;
    }
}

.no-post {
    height: 20px;
    margin-top: 70px;
    margin-bottom: auto;
}

.profile-card-icon {
    width:20px;
    height: 20px;
    margin-left: 10px;
    display: block;
    cursor: pointer;
}



