@import "src/app/common-css/profile-page-styles";

mat-grid-tile {
    border-radius: 20px;
}

app-paginator {
    margin: 10px 0;
}

.profile-opp-container {
    .left {
        float: left;

    }
    .right {
        margin-left: 230px;
    }
}
