<mat-grid-list cols="3" rowHeight="25:16" [gutterSize]="'10px'" *ngIf="opportunities.length === 0">
    <mat-grid-tile>
        <div class="post-card-no-post">
            <div class="no-post" >
                <h5 class="helvetica-normal clear-text-paddings">You haven't posted opportunities yet. Add one!</h5>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="3" rowHeight="25:16" [gutterSize]="'10px'">
    <mat-grid-tile  *ngFor="let opportunity of opportunities; let i = index" [attr.data-index]="i">
        <div class="profile-card">
            <div class="profile-card-content">
                <div class="flex">
                    <h3 class="helvetica clear-text-paddings">{{opportunity.name}}</h3>
                    <img
                        class="ml-auto profile-card-icon zoom-hover-fx"
                        src="assets/images/profile/trash.png"
                        (click)="removeOpportunityAt(i, opportunity)"
                    >
                </div>
                <h5 class="helvetica-normal clear-text-paddings">{{opportunity.overview}}</h5>
            </div>
            <button class="ppl-button-green">View More</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div style="padding: 10px 0 20px 0">
    <app-paginator [page]="page" [per]="per" [total]="total" (pageChanged)="getOpportunities($event)"></app-paginator>
</div>

<ngx-spinner [type]="'ball-spin-fade'"></ngx-spinner>
