<app-resume-builder-header
    [title]="'Education'"
    [initialState]="true"
    [actionTitle]="'Add Education'"
    (expanded)="expanded = true"
    (collapsed)="expanded = false"
    (actionButtonClicked)="addEducation()"
></app-resume-builder-header>

<div class="resume-builder-education" [@expand]="expanded ? 'expanded' : 'shrinked'">
    <div *ngFor="let education of educations; let i = index" [attr.data-index]="i">
        <div class="header-text-img">
            <h4>Education {{i + 1}}</h4>
            <img src="assets/images/profile/trash.png" (click)="deleteEducationAt(i)">
        </div>
        <div class="triple-column">
            <div class="first">
                <!--            school-->
                <br>
                <mat-form-field style="width: 100%">
                    <mat-label>School</mat-label>
                    <label>
                        <input style="width: 100%"  matInput required [(ngModel)]="education.school.name">
                    </label>
                </mat-form-field>
            </div>

            <div class="second">
                <!--            focus-->
                <br>
                <mat-form-field style="width: 100%">
                    <mat-label>Focus (concentration, major etc)</mat-label>
                    <label>
                        <input style="width: 100%" matInput required [(ngModel)]="education.focus">
                    </label>
                </mat-form-field>

            </div>

            <div class="third">
                <!--            Degree-->
                <br>
                <mat-form-field style="width: 100%">
                    <mat-label>Degree</mat-label>
                    <label>
                        <input style="width: 100%"  matInput required [(ngModel)]="education.degree">
                    </label>
                </mat-form-field>
            </div>
        </div>

        <app-date-range-picker
            [pickable]="education"
            [currentCheckboxText]="'I currently study there'"
        ></app-date-range-picker>
    </div>
</div>
