.resume-builder-education {
    margin-bottom: 20px;
    margin-left: 2.5%;
    width: 97.5%;
    .dual-column {
        padding: 10px 0;
    }
    input {
        width: 100%;
    }

    .header {
        margin-top: 14px;
        img {
            margin-left: auto;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}
