.navbar-button-pair {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    display: flex;
    .navbar-button {
        margin: auto 10px auto auto;
        padding-top: 10px;
        width: 123.33px;
        position: relative;
        border-radius: 10px;
        p {
            text-align: center;
            margin-top: -4px;
            font-size: 12px;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 35%;
            height: 35%;
        }
    }

    a {
        &:link, &:visited, &:focus {
            text-decoration: none;
            color: black;
        }
        &:hover {
            p {
                font-weight: bold;
            }
        }
    }
}

.highlighted {
    background-color: #d6ffe8;
}

mat-toolbar {
    height: 80px;
}

.toolbar {
    background-image: url("../../../../assets/logos/pipeline-logo-2.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-y: 50%;

}

