@import '~@angular/material/theming';
@import "src/app/common-css/common-ui-styles";

@include mat-core();

$dark-green: $theme-color-dark;

$ppl-dark-green: (
    50: #e8f5e9,
    100: $dark-green,
    200: $dark-green,
    300: $dark-green,
    400: $dark-green,
    500: $dark-green, // the primary color
    600: $dark-green,
    700: $dark-green,
    800: $dark-green,
    900: $dark-green,
    A100: $dark-green,
    A200: $dark-green,
    A400: $dark-green,
    A700: $dark-green,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);

$ppl-green: (
    50: #e8f5e9,
    100: #c8e6c9,
    200: #a5d6a7,
    300: #81c784,
    400: #66bb6a,
    500: #1b5e20,
    600: #43a047,
    700: #388e3c,
    800: #2e7d32,
    A100: #b9f6ca,
    A200: $theme-color,
    A400: #00e676,
    A700: #00c853,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);

$primary: mat-palette($ppl-dark-green);
$accent: mat-palette($ppl-green, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
