<div id="bg">
    <div class="width-container flex" *ngIf="userInfo">
        <img src="{{userInfo.picture}}">
        <div class="profile-details">
            <h2 class="helvetica clear-text-paddings">{{userInfo.givenName}}&nbsp;{{userInfo.familyName}}</h2>
            <h4 class="helvetica-normal clear-text-paddings" *ngIf="isIndividual">
                <span *ngIf="userDetails">{{userDetails.profession}},&nbsp;</span>
                {{userInfo.entityBelongedTo}}
            </h4>
            <h4 class="helvetica-normal clear-text-paddings" *ngIf="isEntity">
                {{typeToString() | titlecase}}
            </h4>
        </div>
        <div class="ml-auto mt-auto flex">
            <button>Follow</button>
            <button>Message</button>
            <button>Settings</button>
        </div>
    </div>
</div>

<div class="profile-tab-container">
    <div class="width-container inner">
        <app-horizontal-scrollable-tabs
            [tabs]="tabs"
            [tabMappings]="tabMappings"
            [boldFont]="true"
            (tabSelected)="tabSelected($event)"
        ></app-horizontal-scrollable-tabs>
    </div>
</div>

<div class="width-container profile-content-container">
    <ng-template #profileTabContent></ng-template>
</div>
