@import "src/app/common-css/common-ui-styles";

.horiz-tab {
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid $theme-color-gray;
    background-color: $theme-color-gray;
    &:hover {
        border: 1px solid black;
    }
    transition: all .1s ease-in-out;
}

.horiz-tab-container {
    padding: 10px 0;
}

.horiz-tab-selected {
    border: 1px solid $theme-color;
    background-color: $theme-color;
}
