<div id="signup" class="ml-auto mr-auto">
    <h1 class="mohave center-text">PROJECT PIPELINE</h1>

    <div id="signup-inner">
        <p class="helvetica" style="color: red">
            {{errorMessage}}
        </p>

        <label class="helvetica">FIRST NAME</label>
        <input class="signup-input mb-20px">

        <label class="helvetica">LAST NAME</label>
        <input class="signup-input mb-20px">

        <label class="helvetica">EMAIL</label>
        <input class="signup-input mb-20px">

        <label class="helvetica">PASSWORD</label>
        <input class="signup-input mb-20px">

        <div id="signup-manual-button">
            <h2 class="mohave center-text" style="color: white">SIGN UP</h2>
        </div>

        <h3 class="mohave center-text">OR</h3>
        <a href="{{this.config.apiRoot}}api/googlelogin" class="ml-auto">
            <img src="assets/images/btn_google_signin_light_pressed_web@2x.png" width="100%" >
        </a>
    </div>
</div>
