/* You can add global styles to this file, and also import other style files */
@import "app/common-css/width-container";
@import "fonts";
@import "assets/material-theme.scss";

body {
    margin: 0;
    padding: 0;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.center-item-container {
    width: 100%;
    height: 100%;
    display: table;
    .center-item-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.helvetica {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
}

.helvetica-normal {
    font-family: "Helvetica", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: 300;
}

.mohave {
    font-family: Mohave, sans-serif;
}

.center-text {
    text-align: center;
}

.pipeline-button {
    background-color: brown;
    color: white;
    border: 2px solid brown;
    border-radius: 7px;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    height: 35px;
}

.pipeline-button-secondary {
    background-color: transparent;
    color: brown;
    border: 2px solid brown;
    border-radius: 7px;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    height: 35px;
}

.clear-text-paddings {
    padding: 0;
    margin: 0;
}

.text-top-spacing {
    padding: 0;
    margin: 8px 0 0 0;
}

.theme-grey {
    color: rgb(123, 123, 123);
}

.flex {
    display: flex;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
