/* You can add global styles to this file, and also import other style files */
@import "app/common-css/width-container";
@import "fonts";
@import "assets/material-theme.scss";
@import "app/common-css/common-ui-styles";
@import "app/common-css/profile-page-styles";
@import "app/common-css/central-hub-styles";

// do not import bootstrap - it messes with current styling
//@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.center-item-container {
    width: 100%;
    height: 100%;
    display: table;

    .center-item-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.mohave {
    font-family: Mohave, sans-serif;
}

.center-text {
    text-align: center;
}

.clear-text-paddings {
    padding: 0;
    margin: 0;
}

.text-top-spacing {
    padding: 0;
    margin: 8px 0 0 0;
}

.theme-grey {
    color: rgb(123, 123, 123);
}

.flex {
    display: flex;
}

.horizontal-scroll-outer {
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.horizontal-scroll-inner {
    display: inline-block;
}

.default-overflow {
    overflow: auto;
}

label, mat-label {
    @include helvetica-medium;
}
