$theme-color: #79FEB3;

@mixin messaging-btn {
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 10px;
    height: 31px;
    cursor: pointer;
    margin-top: 8px;
}

.user-row {
    img {
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }
    h4 {
        margin-top: 4px;
    }
    button {
        @include messaging-btn;
        background-color: $theme-color;
        margin-top: -5px;
    }
    div {
        padding: 10px 0;
    }
}

.central-hub-messages-left-pane {
    width: 30%;
    margin-right: 5%
}

.central-hub-messages {
    overflow: auto;
}

.central-hub-messages-row {
    border-bottom: 1px solid gainsboro;
    padding: 8px 15px 5px 10px;
    cursor: pointer;
}

.central-hub-search-box {
    button {
        @include messaging-btn;
        background-color: $theme-color;
        margin-left: 10px;
    }
}

@mixin inputStyle {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

#searchBox {
    @include inputStyle;
}

.central-hub-messages-details {
    width: 65%;
    .contents {
        overflow: auto;
    }
}

.central-hub-messages-detail-row {
    .header {
        display: flex;
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }
    margin-bottom: 15px;
    .content {
        p {
            margin-left: 40px;
            margin-top: -3px;
        }
    }
}

#message-text-box {
    margin-top: 10px;
    width: 100%;
    input {
        @include inputStyle;
        margin-right: 10px;
    }
    button:nth-child(2) {
        background-color: $theme-color; /* Green */
        @include messaging-btn;
        margin-right: 10px;
    }
    button:nth-child(3) {
        background-color: red; /* Green */
        @include messaging-btn;
    }
}

