<div class="width-container" style="padding: 20px">
    <div *ngIf="userDetails != null">
        <h3 class="helvetica">Cards</h3>
        <div class="horizontal-scroll-outer">
            <div class="horizontal-scroll-inner profile-card">
                <h3 class="helvetica clear-text-paddings">About</h3>
                <h5 class="helvetica-normal clear-text-paddings">{{userDetails.biography}}</h5>
            </div>
        </div>
    </div>

<!--    Opportunities-->
    <div class="flex" style="width: 100%">
        <h3 class="helvetica">Posted Opportunities</h3>
        <button class="ml-auto ppl-button-green" (click)="addOpportunity()">Add An Opportunity</button>
    </div>

    <div class="horizontal-scroll-outer flex">
        <div class="horizontal-scroll-inner">
            <div class="post-card-no-post" *ngIf="opportunities.length === 0">
                <div class="no-post" >
                    <h5 class="helvetica-normal clear-text-paddings">You haven't posted opportunities yet. Add one!</h5>
                </div>
            </div>
        </div>
        <div class="horizontal-scroll-inner profile-card"
             *ngFor="let opportunity of opportunities;
             let i = index"
             [attr.data-index]="i"
        >
            <div class="flex">
                <h3 class="helvetica clear-text-paddings" style="width: 220px">{{opportunity.name}}</h3>
                <img
                    class="ml-auto profile-card-icon zoom-hover-fx"
                    src="assets/images/profile/trash.png"
                    (click)="removeOpportunityAt(i, opportunity)"
                >
            </div>
            <h5 class="helvetica-normal clear-text-paddings">{{opportunity.overview}}</h5>
            <button class="ppl-button-green">View More</button>
        </div>
    </div>

    <!--    Posts-->
    <div class="flex" style="width: 100%">
        <h3 class="helvetica">Recent Posts</h3>
        <button class="ml-auto ppl-button-green" (click)="addPost()">Add A Post</button>
    </div>

    <div class="horizontal-scroll-outer">
        <app-post-summary-card
            *ngIf="posts.length === 0"
            class="horizontal-scroll-inner"
            [noPost]="true"
        ></app-post-summary-card>
        <app-post-summary-card
            class="horizontal-scroll-inner"
            *ngFor="let post of posts;
            let i = index"
            [attr.data-index]="i"
            [post]="post"
        ></app-post-summary-card>
    </div>
</div>

