@mixin card-common {
    width: 250px;
    background-color: rgb(244, 244, 244);
    height: 160px;
    white-space: normal;
    border-radius: 20px;
    padding: 20px;
}

.profile-card {
    @include card-common;
    h5 {
        margin-top: 8px;
    }
    margin-right: 20px;
    position: relative;
    button {
        position: absolute;
        bottom: 20px;
    }
}

.profile-card-icon {
    width:20px;
    height: 20px;
    margin-left: 10px;
    display: block;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        transition: all .2s ease-in-out;
    }
}

.post-card {
    @include card-common;
    height: 20px;
    margin-top: 70px;
    margin-bottom: auto;
}

.post-card-no-post {
    @include card-common;
    h5 {
        text-align: center;
    }
}

.no-post {
    height: 20px;
    margin-top: 70px;
    margin-bottom: auto;
}
